.main-div {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}

.form-contact {
    background-color: hsl(0 0% 100% / var(--tw-bg-opacity));
    border-radius: 0.75rem ;
    width: 100%;
    max-width: 42rem;
    padding: 2rem;
}

.title-form {
    color:  hsl(187, 24%, 22%);
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: Karla, sans-serif;
    font-weight: 700;
    margin-bottom: 1.25rem;
}