.main-div {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}

.form-contact {
    background-color: hsl(0, 0% ,100% );
    border-radius: 0.75rem ;
    width: 100%;
    max-width: 42rem;
    padding: 2rem;
}

.title-form {
    color:  hsl(187, 24%, 22%);
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: Karla, sans-serif;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.label-form {
    display: block;
    color: hsl(187 ,24% ,22% );
    font-family: Karla, sans-serif;
    font-size: 1rem ;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.star-form {
    color: hsl(169, 82% ,27% );
    font-family: Karla, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.inputext-form {
    width: 100%;
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    border-width: 1px;
    border-color: hsl(186 ,15% ,59% );
    border-radius: 0.5rem /* 8px */;
}

.inputradio-form {
    position: absolute;
    bottom: 1rem /* 16px */;
    left: 1.5rem /* 24px */;
}